/**************************
        General
**************************/

:root {
    --color-dark-1: #403d52;
    --color-dark-2:#84809E;
    --color-dark-3: #B7B6BE;
    --gradient-dark: linear-gradient(45deg, #49455E, #676287);
    --color-light-1: #FFF;
    --color-light-2: #FAFAFA;
    
    --color-yellow: #F3DD16;
}

html, body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}


.container {
    max-width:1300px;
    margin:0 auto;
    padding:0 2rem;
}
.container.ex {
    padding: 0 3rem;
}
.section {
    padding:1rem;
}
.light-2 {
    background-color: var(--color-light-2);
}

.section.gradient {
    background: var(--gradient-dark);
}

#main {
    margin-top:4rem;
    min-height: calc(100vh - 4rem);
}

/**************************
        Typography
**************************/

h1, h2, h3, h4, h5, h6 {
    color:var(--color-dark-1);
}

h1 {font-size: 3rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 1.9rem;}


p {
    color: var(--color-dark-2);
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}


/**************************
        Navigation
**************************/

nav {
    width:100%;
    height:4rem;
    position:fixed;
    top:0;
    box-shadow: 0px 2px 20px rgba(132, 128, 158, 0.15);
    background-color: var(--color-light-1);
    /* border-bottom:1px solid var(--color-dark-3); */
    z-index: 500;

}
.nav-content {
    max-width: 1300px;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 1rem;
    height:100%;
}
.nav-logo {
    position:absolute;


}
.nav-logo a {
text-decoration: none;
}
.nav-items {
    margin: 0 auto;
}

.nav-item {
    margin: 0 1rem;
    display: inline-block;
    padding: 1.3rem 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    min-width: 8rem;

    color: var(--color-dark-2);
}
nav a {
    box-sizing: border-box;
}

nav h1 {
    margin:0;
    padding:0.8rem 0;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-dark-2);
}


/**************************
        Buttons
**************************/