.images {
    width:100%;
}


.images .image-container {
    width:100%;
    height:100%;
    box-sizing: border-box;
    overflow: hidden;
}
.images img {
    object-fit: cover;
}


.images.s3 {
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.images.s3 img:first-child {
    grid-row: 1 / 3;
}